In [5]:

import pandas as pd


data_root = r'D:\data\kaggle\Linking Writing Processes to Writing Quality'

In [16]:
train_data = pd.read_csv(filepath_or_buffer= data_root + r'\train_logs.csv')
train_target = pd.read_csv(filepath_or_buffer= data_root + r'\train_scores.csv')

In [24]:
train_data.shape

(8405898, 11)

In [25]:
train_target.shape

(2471, 2)

In [26]:
train_data.head(100)

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1
...,...,...,...,...,...,...,...,...,...,...,...
95,001519c8,96,160381,160492,111,Input,q,q,q,61,12
96,001519c8,97,160433,160550,117,Input,q,q,q,62,12
97,001519c8,98,160531,160670,139,Input,Space,Space,,63,12
98,001519c8,99,161132,161259,127,Input,q,q,q,64,13
99,001519c8,100,161297,161419,122,Input,q,q,q,65,13

In [27]:
train_data.describe()

,event_id,down_time,up_time,action_time,cursor_position,word_count
count,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06
mean,2.067649e+03,7.935603e+05,7.936584e+05,9.808498e+01,1.222964e+03,2.314687e+02
std,1.588284e+03,5.149451e+05,5.149428e+05,2.533985e+02,9.485242e+02,1.759088e+02
min,1.000000e+00,1.060000e+02,2.520000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.520000e+02,3.731842e+05,3.732820e+05,6.600000e+01,4.990000e+02,9.600000e+01
50%,1.726000e+03,7.208860e+05,7.209800e+05,9.300000e+01,1.043000e+03,2.000000e+02
75%,2.926000e+03,1.163042e+06,1.163141e+06,1.220000e+02,1.706000e+03,3.270000e+02
max,1.287600e+04,8.313630e+06,8.313707e+06,4.474700e+05,7.802000e+03,1.326000e+03

In [28]:
train_data.info

<bound method DataFrame.info of                id  event_id  down_time  up_time  action_time       activity  \
0        001519c8         1       4526     4557           31  Nonproduction
1        001519c8         2       4558     4962          404  Nonproduction
2        001519c8         3     106571   106571            0  Nonproduction
3        001519c8         4     106686   106777           91          Input
4        001519c8         5     107196   107323          127          Input
...           ...       ...        ...      ...          ...            ...
8405893  fff05981      3615    2063944  2064440          496  Nonproduction
8405894  fff05981      3616    2064497  2064497            0  Nonproduction
8405895  fff05981      3617    2064657  2064765          108        Replace
8405896  fff05981      3618    2069186  2069259           73  Nonproduction
8405897  fff05981      3619    2070065  2070133           68          Input

        down_event   up_event text_change  cursor_position  word_count
0        Leftclick  Leftclick    NoChange                0           0
1        Leftclick  Leftclick    NoChange                0           0
2            Shift      Shift    NoChange                0           0
3                q          q           q                1           1
4                q          q           q                2           1
...            ...        ...         ...              ...         ...
8405893  Leftclick  Leftclick    NoChange             1031         240
8405894      Shift      Shift    NoChange             1031         240
8405895          q          q      q => q             1031         240
8405896  Leftclick  Leftclick    NoChange             1028         240
8405897          .          .           .             1029         240

[8405898 rows x 11 columns]>

In [29]:
text_change = train_data['text_change']

In [23]:
text_change.shape

(8405898,)

In [31]:
text_change[8]

'q'